@page
@model AyudaHogar.Pages.EditarCategoriaModel

@{
    ViewData["Title"] = "EditarCategoria";
}

<h1>EditarCategoria</h1>

<h4>Categoriadeservicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categoriadeservicio.CatId" />
            <div class="form-group">
                <label asp-for="Categoriadeservicio.CatNom" class="control-label"></label>
                <input asp-for="Categoriadeservicio.CatNom" class="form-control" />
                <span asp-validation-for="Categoriadeservicio.CatNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoriadeservicio.CatDescripcion" class="control-label"></label>
                <input asp-for="Categoriadeservicio.CatDescripcion" class="form-control" />
                <span asp-validation-for="Categoriadeservicio.CatDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
